// CUSTOM CSS

.post-home a
  color: $color-accent-1
  text-decoration: none
  background-image: unset
 
.en-imgs
  display: flex
  padding: 0 10%

.e-mail-input
  padding: 6px 7px
  outline: none
  border: solid 1px $color-border
  border-radius: 2px
  background-color: $color-background
  color: $color-text
  font-size: 1rem
  -webkit-border-radius: 5px
  -moz-border-radius: 5px

.news-button
  padding: 6px 7px
  outline: none
  border: solid 1px $color-border
  border-radius: 2px
  background-color: $color-text
  color: $color-background
  font-size: 1rem
  -webkit-border-radius: 5px
  -moz-border-radius: 5px

.featherlight-content
  background: unset !important

.featherlight-close-icon.featherlight-close
  color: #fff !important
  background: unset !important
  font-size: 1em !important

.featherlight-image.featherlight-inner
  border: 1px $color-text solid

.zine-img
  max-width: 130px
  float: left
  clear: both
  margin: 0 0.5em 2em 0

@media (max-width: 380px)
  .zine-img
    max-width: 100%
    float: none
    margin: 0.5em 0

.lista-zines
  display: grid
  grid-template-columns: 50% 50%

p.zine-edicao
    margin-top: unset
    font-weight: 900
    text-transform: uppercase
    width: 98%
    color: $color-meta-code
    border-bottom: 2px solid lighten($color-meta-code, 50%)
    text-align: left

p.zine-meta
  font-size: 0.8em
  line-height: 1em
  margin-right: 1em
  text-align: left
  margin-top: 0.5em
  margin-bottom: 0.5em

.links_zine
  margin-bottom: 1.2em
  margin-top: 1em

@media (max-width: 780px)
  .lista-zines
    display: grid
    grid-template-columns: unset

.featherlight-next:hover
.featherlight-previous:hover
    background: rgba(0, 0, 0, 0.5) !important

.img-link
  a
    background-image: unset !important

.caption.caption-rabiscos
  height: 100%
  width: 100%
  font-family: unset !important
  font-size: 1em !important

  .download-link
    font-variant: small-caps

  p
    text-align: center !important

    a
      color: #FFF !important

    a:hover
      color: $color-meta-code !important

.rabiscos-listagem
  display: grid
  grid-template-columns: 28% 28% 28%
  grid-column-gap: 50px
  width: 100%
  justify-content: center
  padding-left: unset !important
  text-align: center

  li
  	list-style: none

  li a
    color: $color-accent-1
    text-transform: uppercase
    background-image: unset

@media (max-width: 780px)
  .rabiscos-listagem
    grid-column-gap: 10px

.inktober-tema
  margin: -0.5em 0 0 !important
  color: $color-accent-1
  text-decoration: none

.desc-ink
  margin: 0 0 0.5em
  font-size: 0.9em

a.toggle:hover
  color: $color-accent-1 !important


// LOJA & CARRINHO

input
button
  padding: 6px 7px
  outline: none
  border: solid 1px $color-border
  border-radius: 2px
  background-color: $color-background
  color: $color-text
  font-size: 1rem
  -webkit-border-radius: 5px
  -moz-border-radius: 5px

  &:focus
    border: solid 1px $color-accent-1

input.qtde
  width: 4em

.btn_comprar
  font-size: 0.8em
  color: $color-accent-1 !important
  background: unset !important

.btn_comprar:hover
  cursor: cell
  text-decoration: underline

.btn_comprar:active
  color: unset
  background-color: $color-accent-1

.compra_listagem
  color: $color-accent-1
  text-decoration: none !important
  margin-top: 2em
  margin-bottom: 0
  line-height: 0.8em

.thick_strike
  font-size: 1em
  line-height: 1em
  position: relative

.thick_strike::after
  border-bottom: 0.125em solid $color-accent-1
  content: ""
  left: 0
  margin-top: calc(0.125em / 2 * -1)
  position: absolute
  right: 0
  top: 50%

.info_carrinho
  font-size: 0.8em
  float: right

  p
    text-align: right !important
    margin-top: 0
    line-height: 1em

.simpleCart_shelfItem

  h3
    text-decoration: none !important
    margin-bottom: 0

@media (min-width: 520px)
  .info-livro .simpleCart_shelfItem, .compra_listagem
    margin-left: 250px
    padding-left: 1em

    p
      font-size: 0.9em
      margin-top: 0

.name_your_price
  margin-top: 1em

.price_box
  width: 4em
  width: 4em
  border: unset
  border-bottom: 1px solid lighten($color-meta-code, 50%) !important
  border-radius: unset

.livro_download
  margin-top: 1em !important

.compra_listagem
  a
    color: $color-text !important

  a:hover
    color: $color-accent-1 !important
