@media (max-width: 480px)
  .post-list
    margin-top: 5.5em
    clear: both

#archive
    margin-top: 3em

  .post-list
    padding: 0

    .post-item
      margin-bottom: 1rem
      margin-left: 0
      list-style-type: none

      .meta
        display: block
        margin-right: 16px
        min-width: 100px
        color: $color-meta
        font-size: 0.9em
        line-height: 2.2rem

  .small
    font-size: 0.7em !important

  @media (min-width: 480px)
    .post-list
      .post-item
        display: flex
        margin-bottom: 5px
        margin-left: 1rem

        .meta
          text-align: left

h2.arquivo
  text-align: right
  color: $color-meta
  text-transform: uppercase
  clear: both
