#header
  margin: 0 auto 2rem
  width: 100%

  h1, .h1
    margin-top: 0
    margin-bottom: 0
    color: $color-text
    letter-spacing: .01em
    font-weight: 300
    font-style: normal
    font-size: 2.5rem
    line-height: 3.5rem

    antialias()

  a
    background: none
    color: inherit
    text-decoration: none

  #logo
    display: inline-block
    float: left
    margin-right: 20px
    width: $logo-width
    height: $logo-height
    border-radius: 5px
    filter: grayscale(100%)
    background-size: $logo-width $logo-height
    background-repeat: no-repeat
    -webkit-filter: grayscale(100%)

  #nav
    color: $color-accent-1
    letter-spacing: .01em
    font-weight: 200
    font-style: normal
    font-size: 1rem
    margin-bottom: 50px

    ul
      margin: 0
      padding: 0
      list-style-type: none
      line-height: 1.4rem

      a
        margin-right: 10px
        color: $color-accent-1

      a:hover
        underline(5px, $color-accent-1)

      li
        display: inline-block
        margin-right: 3px
        border-right: 1px dotted $color-accent-1
        vertical-align: middle
        font-size: 1rem
        line-height: 0.8em

      .icon
        display: none

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0

ul.dropdown-nav
  visibility: hidden
  opacity: 0
  position: absolute
  transition: all 0.5s ease
  margin-top: 1rem
  display: none
  border-left: 1px dotted $color-accent-1
  padding-left: 13px !important
  margin-left: -13px !important
  padding-top: 0.5em !important
  z-index: 10

ul.dropdown-nav
  li
    clear: both
    width: 100%
    border-right: unset !important
    display: block !important
    line-height: 1.5rem !important

li.dd-extra:hover > ul.dropdown-nav, ul.dropdown-nav:hover
  visibility: visible
  opacity: 1
  display: block

li.dd-extra:focus-within > ul.dropdown-nav
  visibility: visible
  opacity: 1
  display: block

li.dd-extra:active > ul.dropdown-nav
  visibility: visible
  opacity: 1
  display: block

#header:hover
  #logo
    filter: none
    -webkit-filter: none

.tagline
  display: unset
  font-size: 1rem
  text-decoration: unset
  color: unset
  font-weight: unset

.tagline a
  margin: unset !important


@media screen and (max-width: 480px)
  #header #title
    display: table
    margin-right: 3.5rem
    min-height: $logo-height
    h1
      display: table-cell
      vertical-align: middle
      font-size: 1.8rem
      line-height: 2.5rem

  #header #nav
    ul
      a:hover
        background: none

      li
        display: none
        border-right: 0

      li.icon
        position: absolute
        top: 77px
        right: -15px
        display: inline-block

    ul.responsive
      li
        display: block

    li:not(:first-child)
      padding-top: 1rem
      padding-left: $logo-width + 20px
      font-size: 1rem
