<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>

<%- partial('_partial/head') %>

  <% if (is_home()) { %>
        <body class="max-width-home mx-auto px3 <%- theme.direction -%>">
      <% } else { %>
        <body class="max-width mx-auto px3 <%- theme.direction -%>">
      <% } %>


    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>

    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>

    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
 
</body>
</html>
