<head>
  <!-- so meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%- open_graph({
        image:          thumbnail(page),
    }) %>
  <%- meta(page) %>

  <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">

 
  <% if (is_home()) { %>

  <title><%= config.title %></title>
  
  <% } else if (is_category('eng')) { %>
  
  <title><%= config.title %></title>

  <% } else { %>

  <title><%= page_title() %> | <%= config.title %></title>

  <% } %>


  <!-- styles -->
  <%- css('css/style') %>
  <!-- rss -->
  <% if (theme.rss === '' && config.feed && config.feed.path) { %>
  <% theme.rss = config.feed.path %>
  <% } %>
  <% if (theme.rss) { %>
  <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml" />
  <% } %>
</head>
