
  <span class="social-icons mt0">
    <%= __('') %>
    <% var nb_links = Object.keys(theme.social_links).length %>
    <% var i = 0 %>
    <% for(var link in theme.social_links) { %>
    <a rel=me class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
      <i class="fab fa-<%= link %> fa-2x"></i>
    </a>
      <%= ( nb_links > 0 && i < nb_links-1 ?
          ( i == nb_links-2 ? ' '+__('  ')+' '
          : __('  ')+' ' )
          : '' ) %>
    <% i+=1 %>
    <% } %>
  </span>
  <span class="social-icons mt0">
    <%= __('') %>
    <% var nb_links = Object.keys(theme.extra_links).length %>
    <% var i = 0 %>
    <% for(var link in theme.extra_links) { %>
    <a rel=me class="icon" target="_blank" href="<%- url_for(theme.extra_links[link]) %>">
      <i class="fas fa-<%= link %> fa-2x"></i>
    </a>
      <%= ( nb_links > 0 && i < nb_links-1 ?
          ( i == nb_links-2 ? ' '+__('  ')+' '
          : __('  ')+' ' )
          : '' ) %>
    <% i+=1 %>
    <% } %>
  </span>
